* {
  background-image: url("https://i.imgur.com/bZBpCix.jpg");
  background-repeat: no-repet;
  background-size: cover;
  /* box-sizing: border-box; */
}

title {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0 0 15px;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  background-color: pink;
  padding: 20px;
  margin-bottom: 15px;
}

button {
  border: 30px;
  font-weight: bolder;
  float: right;
  height:40px;
  width: 60px;
  text-decoration: double;
  margin-right: 50%;
  background-image: none;
  background-color: rgb(116, 116, 192);
  border-radius: 20px;
}
