body {
  display: flex;
  background-image: url("https://i.imgur.com/bZBpCix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

div {
  /* background-image: none; */
  /* background-color: rgba(43, 198, 226, 0.671); */
  display: flex;
  flex-direction: column;
  align-content: center;
}

#worm-world {
  height: 300px;
}

#bottom-console {
  height: 200px;
  max-width: 100%;
}

title {
  text-align: center;
}


h1 {
  background-color: rgba(43, 198, 226, 1);
  padding: 0;
  text-align: center;
}

h2 {
  background-color: rgba(43, 198, 226, 1);
  text-align: center;
}

h3 {
  background-color: rgba(43, 198, 226, 2);
  text-align: center;
}

span {
  text-align: center;
}

button {
  align-self: center;
  /* border: 30px; */
  font-weight: 30px;
  /* float: right; */
  height:40px;
  width: 100px;
  text-decoration: darkblue;
  /* margin-right: 50%; */
  background-image: none;
  background-color: rgb(116, 116, 192);
  border-radius: 20px;
}

div #worm-area {

}

div #bottom-console {
  width: 100%;
  background-image: none;
}

/* 
#begin {
  display: inline-block;
  margin: 0 0.5rem;  
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
} */
